{"swagger":"2.0","info":{"title":"cpalsifunctionapp","version":"1.0","description":"City Power & Light - Site Inpsection Connector"},"host":"cpal.azure-api.net","basePath":"/cpalsifunctionapp","schemes":["https"],"consumes":[],"produces":[],"paths":{"/HttpTrigger_Base64ToBlob":{"post":{"operationId":"submit","summary":"Submit","parameters":[{"name":"assets","in":"body","schema":{"$ref":"#/definitions/Assets"}}],"consumes":["application/json"],"responses":{"200":{"description":"success"}},"description":"Save Site Inspection Assets to blob storage"}}},"definitions":{"Assets":{"type":"object","properties":{"Assets":{"type":"array","items":{"required":["altitude","blob","createdBy","createdByName","createdOn","description","identifier","latitude","longitude","type"],"type":"object","properties":{"altitude":{"type":"string"},"blob":{"type":"string"},"blobContent":{"type":"string"},"createdBy":{"type":"string"},"createdByName":{"type":"string"},"createdOn":{"type":"string"},"description":{"type":"string"},"identifier":{"type":"string"},"latitude":{"type":"number"},"longitude":{"type":"number"},"type":{"type":"string"}}}}},"example":{"assets":[{"altitude":"string","blob":"string","createdBy":"string","createdByName":"string","createdOn":"string","description":"string","identifier":"string","latitude":50.123456789,"longitude":10.123456789,"type":"string"},{"altitude":"string","blob":"string","createdBy":"string","createdByName":"string","createdOn":"string","description":"string","identifier":"string","latitude":50.123456789,"longitude":10.123456789,"type":"string"}]}}},"parameters":{},"responses":{},"securityDefinitions":{"API Key":{"type":"apiKey","in":"header","name":"Ocp-Apim-Subscription-Key"}},"security":[{"API Key":[]}],"tags":[]}